header {
	word-wrap: break-word;
	background-color: var(--accent-color-2);
	border-bottom: 1px solid var(--accent-color-2);
}

h1 {
	background-color: var(--accent-color);
}

#content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

main {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
}

nav > ul{
	padding-left: 20px;
}

h1, h2 {
	text-align: center;
	margin: 0px;
}

#updates {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 5px;
}

#updatesCard {
	background-color: var(--content-color);
}